{
    "presets": [
        [
            "@babel/preset-env"
        ]
    ],
    "plugins": ["@babel/transform-react-jsx"],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-dynamic-import-node-babel-7"
            ]
        }
    }
}
